.Modal {
  display: 'flex';
  justify-content: 'center';
  padding-top: '5%';
  border: 'none';
  color: 'inherit';
  outline: none;
  .ModalPaper {
    padding: '20px';
    width: '60%';
    height: '80%';
    border: 'none';
    outline: 'none';
    color: 'inherit';
    overflow-y: 'scroll';
  outline: none;

  }
}
