@import '../../../variables.scss';

#authPage {
   min-height: 100vh;
  padding-top: 60px;

  #authForm {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  form  {
    // text-align: center;
    .inpWrapper {
      margin-bottom: 12px !important;
      display: block;
    }
  }
}