@import '../../../variables.scss';

#About {
  position: relative;

  display: flex;
  justify-content: center;
  
  background-color: rgb(219, 219, 219);
  height: 80vh;
  .headerBox {
    margin-top: 50px;
    text-align: center;
    width: 80%;

    #google-btn {
      background-color: #03A9F4 !important; 
      // display: block;
      margin: 15px auto;
      border-radius: 2px !important;
      &:hover {
        background-color: #0288D1 !important;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  #About {
  height: auto  ;
  }
}
