@import '../../../variables.scss';
#TeamHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#teamContHeader {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  .teamH {
    span {
      text-transform: capitalize;
    }
  }
  .teamMembers {
    text-decoration: underline;
    cursor: pointer;
    color: $primaryColor;
    margin-left: 0.5rem;
    &:hover {
      opacity: .8;
    }
  }
}

#teamIntro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#teamProjects {
  margin: 40px 0;
}

#addMembers {
  display: flex;

  height: 100%;
  .membersListSection {
    width: 50%;
    // height: 100%;
    border-right: 1px solid grey;
    padding: 5px;
  }
  .findSection {
    width: 50%;
    // height: 100%;
    padding: 5px;
  }

}